.popup__container_card {
  width: 430px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 0 0 0;
}

@media screen and (max-width: 539px) {
  .popup__container_card {
    width: 282px;
    padding: 26px 0 0 0;
  }
}
