.elements {
  padding-top: 51px;
  padding-bottom: 7px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .elements {
    padding-top: 36px;
    padding-bottom: 12px;
  }
}
